<div class="jumbotron jumbotron-fluid mb-0">
    <div class="row mx-0">
        <div class="col-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="w-100 text-center">
                        <a href="https://ictd.gov.bd/" class="my-3 d-inline-block footer-logo">
                            <img src="../../../../../assets/ict-divison-logo.png">
                        </a>
                    </div>
                    <div class="text-align-justify" *ngIf="globalSetting.getConfig('footer_text_1')" [innerHtml]="globalSetting.getConfig('footer_text_1') | switchLanguageProp:'value' | async"></div>
                </div>
                <div class="col-md-4">
                    <div class="w-100 text-center">
                        <a routerLink="/shop" class="my-3 d-inline-block footer-logo mr-5">
                            <img src="../../../../../assets/logo.png" alt="    ">
                        </a>
                    </div>
                    <div class="text-align-justify" *ngIf="globalSetting.getConfig('footer_text_2')" [innerHtml]="globalSetting.getConfig('footer_text_2') | switchLanguageProp:'value' | async"></div>
                </div>
                <div class="col-md-4">
                    <p class="h5 mb-0">
                        {{ 'find_us' | translate | async }}
                    </p>
                    <hr>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <p>{{ storeDetails | switchLanguageProp:'contact_address' | async }}</p>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/shop/terms-and-condition" class="nav-link pl-0">{{ 'tnc' | translate | async }}</a>
                        </li>
                        <li class="nav-item" *ngIf="storeDetails?.email_address">
                            <a href="mailto:{{ storeDetails?.email_address }}" class="nav-link pl-0">{{ storeDetails?.email_address }}</a>
                        </li>
                        <li class="nav-item" *ngIf="storeDetails?.phone_number">
                            <a href="tel:{{ storeDetails?.phone_number }}" class="nav-link pl-0"><i class="fa fa-phone"></i> {{ storeDetails | switchLanguageProp:'phone_number' | async }}</a>
                        </li>
                        <li class="nav-item">
                            <a *ngIf="storeDetails?.facebook" href="{{ storeDetails?.facebook }}" class="btn btn-sm btn-primary mx-1">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a *ngIf="storeDetails?.twitter" href="{{ storeDetails?.twitter }}" class="btn btn-sm btn-primary mx-1">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a *ngIf="storeDetails?.youtube" href="{{ storeDetails?.youtube }}" class="btn btn-sm btn-primary mx-1">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>