<div class="card store-card">
    <a [routerLink]="url" [queryParams]="params" class="product-image-wrapper d-flex align-items-center justify-content-center" app-image-viewer [id]="product?.primary_image_thumb" type="product_image">
    </a>
    <div class="card-body p-2 product-info">
        <a class="card-title" [routerLink]="url" [queryParams]="params">{{ product | switchLanguageProp:'name' | async }}</a>
        <p class="card-text">
            {{product | switchLanguageProp:'short_description' | async}}
        </p>
    </div>
    <button class="btn d-block btn-primary btn-sm mt-0 m-2" (click)="addToCart()">{{ 'buy' | translate | async }}</button>
</div>