<div class="row">
        <div class="col-12 pt-5">
            <table class="table table-sm table-striped" [ngClass]="{'table-loading': loading}">
                <tr>
                    <th colspan="3">
                        <h3 class="my-0">
                            User List <a [routerLink]="createPageLink()" class="btn btn-sm btn-info">Add New</a>
                        </h3>
                    </th>
                    <th colspan="3">
                        <form class="input-group" #form="ngForm" (ngSubmit)="search(search_value.value)">
                            <input type="text" class="form-control" placeholder="Search by name, email, phone" #search_value>
                            <button class="btn btn-sm btn-primary input-group-prepend">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Digital Center</th>
                    <th>Roles</th>
                    <th>#</th>
                </tr>
                <tr *ngFor="let item of list | paginate: { itemsPerPage: 10, totalItems: totalItems, currentPage: currentPage }">
                    <td>
                        <a [routerLink]="detailPageLink(item.id)">{{ item.name }}</a>
                    </td>
                    <td>
                        {{ item.phone }}
                    </td>
                    <td>
                        {{ item.email }}
                    </td>
                    <td>
                        {{ item.digital_center?.name }}
                    </td>
                    <td>
                        <span class="btn btn-info btn-sm m-1" *ngFor="let role of item?.roles">
                            {{role.name}}
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-danger" (click)="delete(item.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th colspan="6" class="text-center">
                        <pagination-controls *ngIf="list && list.length" (pageChange)="loadPage($event)"></pagination-controls>
                    </th>
                </tr>
            </table>
        </div>
    </div>