@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.category-banner{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(-45deg, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: cover;
    position: relative;
    .category-banner-bg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;
    }
    .banner{
        position: relative;
        z-index: 10;
    }
}


