<div class="row">
    <div class="col-12 pt-5">
        <table class="table table-sm table-striped" [ngClass]="{'table-loading': loading}">
            <tr>
                <th colspan="2">
                    <h3 class="my-0">
                        Digital Center List <a [routerLink]="createPageLink()" class="btn btn-sm btn-info">Add New</a>
                    </h3>
                </th>
                <th colspan="2">
                    <div class="input-group">
                        <input type="text" class="form-control" (keyup)="search($event.target.value)">
                        <button class="btn btn-sm input-group-prepend">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Name</th>
                <th>নাম</th>
                <th>Host</th>
                <th>Address</th>
            </tr>
            <tr *ngFor="let center of list">
                <td>
                    <a [routerLink]="detailPageLink(center.id)">{{ center.name }}</a>
                </td>
                <td>
                    {{ center.name_bn }}
                </td>
                <td>
                    {{ center.host }}
                </td>
                <td>
                    {{ center.address }}
                </td>
            </tr>
            <tr>
                <th colspan="4" class="text-center">
                    <button class="btn btn-sm btn-info" *ngIf="hasMore" (click)="loadNext()">Load More</button>
                </th>
            </tr>
        </table>
    </div>
</div>