<div class="row pt-5">
    <table class="table table-stripped table-sm">
        <tr>
            <th colspan="4">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="mb-0">{{ order?.customer?.name }}</h3>
                        <p class="mb-0">
                            {{ order?.customer?.phone || order?.customer?.email }}
                        </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <h3 class="mb-0 text-info">{{ order?.order_id }}</h3>
                        <p class="mb-0">
                            <strong>Sold By: </strong> {{ order?.seller?.name }}
                        </p>
                        <p>
                            <span class="badge {{badgeClass(order.status)}}">
                                {{order.status}}
                            </span>
                        </p>
                    </div>
                </div> 
            </th>
        </tr>
        <tr>
            <th>Product Info</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total Price</th>
        </tr>
        <tr *ngFor="let item of order.items" [item]="item" app-order-item></tr>
        <tr>
            <td></td>
            <td colspan="2">
                <p class="text-info">Grand Total</p>
            </td>
            <td>
                {{ order?.totalPrice }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">CNS Earning</td>
            <td>({{ (order.cnsEarning || 0).toFixed(2) }})</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">Affiliate Earning</td>
            <td>({{ (order.affiliateEarning || 0).toFixed(2) }})</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" class="h4">Owner Earning</td>
            <td class="h4">{{ (ownerEarning || 0).toFixed(2) }}</td>
        </tr>
    </table>
</div>
<div class="row pt-3" *ngIf="canEdit | async">
    <div class="col-12">
            <div class="form-group">
                <h4>Process Order</h4>
            </div>
            <form #form="ngForm" class="form">
                <div class="form-group">
                    <label for="division_id">Divison</label>
                    <select class="form-control" name="division_id" id="division_id" [(ngModel)]="model.division_id" (change)="divisionChanged()" required>
                        <option [value]="division.id" *ngFor="let division of divisions">{{ division | switchLanguageProp:'name' | async }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="district_id">District</label>
                    <select class="form-control" name="district_id" id="district_id" [(ngModel)]="model.district_id" (change)="districtChanged()" required>
                        <option [value]="district.id" *ngFor="let district of districts">{{ district | switchLanguageProp:'name' | async }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="upazila_id">Upazila</label>
                    <select class="form-control" name="upazila_id" id="upazila_id" [(ngModel)]="model.upazila_id" (change)="upazilaChanged()" [required]="!model.union_id">
                        <option [value]="upazila.id" *ngFor="let upazila of upazilas">{{ upazila | switchLanguageProp:'name' | async }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="union_id">Unions</label>
                    <select class="form-control" name="union_id" id="union_id" [(ngModel)]="model.union_id" [required]="!model.upazila_id">
                        <option [value]="union.id" *ngFor="let union of unions">{{ union | switchLanguageProp:'name' | async }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="detailed_address">Detailed Address</label>
                    <textarea class="form-control" name="detailed_address" id="detailed_address" [(ngModel)]="model.detailed_address"></textarea>
                </div>
                <div class="form-group">
                    <button *ngIf="order.status === 'verified'" type="button" class="btn btn-sm btn-info" (click)="setStatus('confirmed')" [disabled]="form.invalid">Confirm</button>
                    <button *ngIf="order.status === 'confirmed'" type="button" class="btn btn-sm btn-info" (click)="setStatus('shipped')" [disabled]="form.invalid">Shipped</button>
                    <button *ngIf="order.status === 'shipped'" type="button" class="btn btn-sm btn-warning" (click)="setStatus('paid')" [disabled]="form.invalid">Confirm Payment</button>
                    <button *ngIf="order.status === 'paid'" type="button" class="btn btn-sm btn-success" (click)="setStatus('complete')" [disabled]="form.invalid">Complete</button>
                </div>
            </form>
            
    </div>
</div>