<div class="row pt-5">
    <table class="table table-stripped table-sm">
        <tr>
            <th colspan="4" class="text-center">
                <h2 class="mb-0">DeshiPonno</h2>
                <p class="text-muted mb-0 h5">{{ order?.digitalCenter?.name }}</p>
                <p class="text-muted mb-0">{{ order?.created_at | localDate }}</p>
            </th>
        </tr>
        <tr>
            <th colspan="4">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="mb-0">{{ order?.customer?.name }}</h3>
                        <p class="mb-0">
                            {{ order?.customer?.phone || order?.customer?.email }}
                        </p>
                        <p class="mb-0">
                            {{ order?.delivery_address }}
                        </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <h3 class="mb-0 text-info">{{ order?.order_id }}</h3>
                        <p class="mb-0">
                            <strong>Sold By: </strong> {{ order?.seller?.name }}
                        </p>
                        <p class="d-print-none">
                            <span class="badge {{badgeClass(order.status)}}">
                                {{order.status}}
                            </span>
                        </p>
                        <button class="btn btn-info d-print-none btn-sm" onclick="window.print()">
                                <i class="fa fa-print"></i> Print
                            </button>
                    </div>
                </div> 
            </th>
        </tr>
        <tr>
            <th>Product Info</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total Price</th>
        </tr>
        <tr *ngFor="let item of order.items" [item]="item" app-order-item></tr>
        <tr>
            <td colspan="3">Delivery Charge</td>
            <td>৳{{ order?.delivery_charge }}</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
                <p class="text-info mb-0">Grand Total</p>
            </td>
            <td>
                ৳{{ (total || 0).toFixed(2) }}
            </td>
        </tr>
        <tr *ngIf="owner" class="d-print-none">
            <td></td>
            <td colspan="2">CNS Commission</td>
            <td>৳({{ (salesCommission || 0).toFixed(2) }})</td>
        </tr>
        <tr *ngIf="owner" class="d-print-none">
            <td></td>
            <td colspan="2">Your Earning</td>
            <td>৳{{ (sellerEarning || 0).toFixed(2) }}</td>
        </tr>

        <tr *ngIf="cns" class="d-print-none">
            <td></td>
            <td colspan="2">CNS Commission</td>
            <td>৳{{ (salesCommission || 0).toFixed(2) }}</td>
        </tr>
        <tr *ngIf="cns" class="d-print-none">
            <td></td>
            <td colspan="2">Affiliate Commission</td>
            <td>৳({{ (affiliateCommission || 0).toFixed(2) }})</td>
        </tr>
        <tr *ngIf="cns" class="d-print-none">
            <td></td>
            <td colspan="2">Your Earning</td>
            <td>৳{{ (cnsEarning || 0).toFixed(2) }}</td>
        </tr>
        <tr *ngIf="hasAffiliate && affiliate && !cns" class="d-print-none">
            <td></td>
            <td colspan="2">Your Earning</td>
            <td>৳{{ (affiliateCommission || 0).toFixed(2) }}</td>
        </tr>
    </table>
</div>
<div class="row pt-3 d-print-none" *ngIf="order && (canEdit | async)">
    <div class="col-12">
            <div class="form-group">
                <h4>Process Order</h4>
            </div>
            <form #form="ngForm" class="form">
                <div class="form-group">
                    <label for="delivery_address">Delivery Address</label>
                    <textarea class="form-control" name="delivery_address" id="delivery_address" [(ngModel)]="order.delivery_address"></textarea>
                </div>
                <div class="form-group">
                    <button *ngIf="order.status === 'verified'" type="button" class="btn btn-sm btn-info" (click)="setStatus('confirmed')" [disabled]="form.invalid">Confirm</button>
                    <button *ngIf="order.status === 'confirmed'" type="button" class="btn btn-sm btn-info" (click)="setStatus('shipped')" [disabled]="form.invalid">Shipped</button>
                    <button *ngIf="order.status === 'shipped'" type="button" class="btn btn-sm btn-warning" (click)="setStatus('paid')" [disabled]="form.invalid">Confirm Payment</button>
                    <button *ngIf="order.status === 'paid'" type="button" class="btn btn-sm btn-success" (click)="setStatus('complete')" [disabled]="form.invalid">Complete</button>
                </div>
            </form>
            
    </div>
</div>