<nav class="col-md-2 bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column pt-3">
        <li class="nav-item">
          <a class="nav-link py-1" routerLink="/shop/offers" [queryParams]="params">
            {{ 'others' | translate | async }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-1"  routerLink="/shop/popular-items" [queryParams]="params">
            <span data-feather="users"></span>
            {{ 'popular_items' | translate | async }}
          </a>
        </li>
      </ul>

      <hr class="my-2">
      <ul class="nav flex-column mb-2">
        <li class="nav-item" *ngFor="let category of parents">
          <a class="nav-link py-1" [routerLink]="get_category_url(category)" [queryParams]="params">
            <span app-image-viewer [id]="category.category_icon || category.category_thumb || category.category_banner" type="icon"></span>
            {{ category | switchLanguageProp:'name' | async }}
          </a>
        </li>
      </ul>
      <hr class="my-2">
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link py-1" routerLink="/shop/stores"  [queryParams]="params">
            {{ 'other_stores' | translate | async }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-1" routerLink="/shop/stores"  [queryParams]="params">
            {{ 'services' | translate | async }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-1" routerLink="/shop/stores"  [queryParams]="params">
            {{ 'training' | translate | async }}
          </a>
        </li>
      </ul>
      <hr class="my-2">
      <ul class="nav flex-column mb-2"> 
        <li class="nav-item">
          <a class="nav-link py-1" [routerLink]="[ '/admin/login']" *ngIf="!user">{{ 'login' | translate | async }}</a>
          <a class="nav-link py-1" [routerLink]="[ '/admin']" *ngIf="user">{{ 'admin' | translate | async }}</a>
          <a class="nav-link py-1" href="javascript:void(0)" (click)="logout()" *ngIf="user">{{ 'logout' | translate | async }}</a>
        </li>
      </ul>
      <hr class="my-2">
      <ul class="nav flex-column d-md-none">
          <li class="nav-item">
              <a class="nav-link py-1" routerLink="/shop/track-verify-order">{{ 'track_or_verify' | translate | async }}</a>
          </li>
          <li class="nav-item">
              <span class="nav-link py-1" (click)="toggleLang()">{{ language }}</span>
          </li>
      </ul>
    </div>
  </nav> 