<nav class="navbar sticky-top flex-md-nowrap p-1">
    <div class="col-md-2 px-0 mr-0 d-md-flex d-sm-inline-block d-xs-inline-block brand-area">
        <button class="btn btn-link btn-sm pull-left menu-link" (click)="toggleSideNav()">
            <i class="fa fa-navicon fa-2x"></i>
        </button>
        <a class="navbar-brand m-0 px-1 d-none d-md-block" routerLink="/shop">
            <img src="../../../../../assets/logo.png">
        </a>
    </div>
    <div class="form-group search-input-group mb-0">
        <div class="input-group">
            <input class="form-control form-control-dark" [(ngModel)]="query" (keyup)="keyup()" type="text" placeholder="{{ 'shop_header_search' | translate | async }}" aria-label="Search" #searchInput>
            <button class="btn btn-sm input-group-prepend search-btn">
                <i class="fa fa-search fa-2x"></i>
            </button>
        </div>
    </div>
    <ul class="navbar-nav px-3 flex-row pull-right d-none d-md-flex">
        <li class="nav-item text-nowrap mr-0">
            <a class="nav-link px-2 hotline text-warning" href="tel:01845666999"> <i class="fa fa-phone fa-2x"></i> <span> {{ 'hotline' | translate | async }}</span></a>
        </li>
        <li class="nav-item text-nowrap mr-0">
            <a class="nav-link px-2" routerLink="/shop/track-verify-order">{{ 'track_or_verify' | translate | async }}</a>
        </li>
        <li class="nav-item text-nowrap mr-0">
            <span class="nav-link px-2 lang-btn" (click)="toggleLang()">{{ language }}</span>
        </li>
    </ul>
</nav>