
<app-admin-header></app-admin-header>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar d-print-none">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item" *ngIf="isSuperAdmin || canSell">
            <a class="nav-link active">
              <span data-feather="home"></span>
              Products <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="canSell">
            <a class="nav-link py-1" routerLink="/ecommerce-admin/product-add">
              <i class="fa fa-plus"></i>
              
              Add New
            </a>
          </li>
          <li class="nav-item" *ngIf="isSuperAdmin || canSell">
            <a class="nav-link py-1" routerLink="/ecommerce-admin/product-list">
              <i class="fa fa-list"></i>
              
              List
            </a>
          </li>
          <li class="nav-item" *ngIf="isSuperAdmin || canSell">
            <a class="nav-link active">
              <span data-feather="home"></span>
              Orders <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="isSuperAdmin || canSell">
            <a class="nav-link py-1" routerLink="/ecommerce-admin/order-list">
              <i class="fa fa-list"></i>
              List
            </a>
          </li>
          <li class="nav-item" *ngIf="affiliate">
            <a class="nav-link py-1" routerLink="/ecommerce-admin/affiliate-order-list">
              <i class="fa fa-list"></i>
              Affiliate Order
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">
              <span data-feather="home"></span>
              Earning <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1" routerLink="/ecommerce-admin/earning-list">
              <i class="fa fa-list"></i>
              Earnings List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1" routerLink="/ecommerce-admin/due-list">
              <i class="fa fa-list"></i>
              Dues List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">
              <span data-feather="home"></span>
              Payment <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1" routerLink="/ecommerce-admin/payment-list">
              <i class="fa fa-list"></i>
              Payment List
            </a>
          </li>
          <li class="nav-item" *ngIf="isSuperAdmin">
            <a class="nav-link py-1" routerLink="/ecommerce-admin/payment-add">
              <i class="fa fa-list"></i>
              Make/Receive Payment
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" id="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
