<div class="white-bg py-4">
        <div class="row">
            <div class="col-md-12">
                <form #form="ngForm" class="form" (ngSubmit)="submit()">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" id="name" [(ngModel)]="model.name" required>
                        <p class="text-danger" *ngFor="let error of getErrors('name')">{{ error }}</p>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password" [(ngModel)]="model.password" required>
                        <p class="text-danger" *ngFor="let error of getErrors('password')">{{ error }}</p>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="email" [(ngModel)]="model.email" [required]="!model.phone">
                        <p class="text-danger" *ngFor="let error of getErrors('email')">{{ error }}</p>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" name="phone" class="form-control" id="phone" [(ngModel)]="model.phone" [required]="!model.email">
                        <p class="text-danger" *ngFor="let error of getErrors('phone')">{{ error }}</p>
                    </div>
                    <div class="form-group">
                        <label for="active">Active</label>
                        <select name="active" id="active" [(ngModel)]="model.active" class="form-control" required>
                            <option [value]="1">True</option>
                            <option [value]="0">False</option>
                        </select>
                        <p class="text-danger" *ngFor="let error of getErrors('active')">{{ error }}</p>
                    </div>
                    <div class="form-group">
                        <label for="digital_center_id">Digital Center</label>
                        <ng-select
                                name="digital_center_id"
                                [items]="digitalCenters"
                                [multiple]="false"
                                [closeOnSelect]="true"
                                [searchable]="true"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Select Digital Center"
                                [selectOnTab]="true"
                                [searchable]="true"
                                [hideSelected]="true"
                                [(ngModel)]="model.digital_center_id">
                            </ng-select>
                            <p class="text-danger" *ngFor="let error of getErrors('digital_center_id')">{{ error }}</p>
                    </div>
                    <div class="form-group">
                        <label for="roles">Roles</label>
                            <ng-select
                                name="roles"
                                [items]="roles"
                                [multiple]="true"
                                [closeOnSelect]="false"
                                [searchable]="true"
                                bindLabel="name"
                                placeholder="Select Roles"
                                [selectOnTab]="true"
                                [searchable]="true"
                                [hideSelected]="true"
                                [(ngModel)]="model.roles">
                            </ng-select>
                            <p class="text-danger" *ngFor="let error of getErrors('roles')">{{ error }}</p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-sm btn-info" type="submit" [disabled]="form.invalid || !hasRoles">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>