<div class="row">
    <div class="col-12 py-1">
        <h3 class="mt-0 text-center">
            Attendance
        </h3>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="batch">Batch</label>
            <select class="form-control" [(ngModel)]="selected_option.selected_batch" (change)="selectionChanged.next('selected_batch')">
                <option value="" selected disabled>Select Batch</option>
                <option [value]="batch.id" *ngFor="let batch of batches">{{ batch.title }}</option>
            </select>
        </div>
    </div>
    <div class="col-6">
        <label for="selected_date">Date</label>
        <input type="text" matInput id="selected_date"
        class="form-control"
        ngxDaterangepickerMd
        [(ngModel)]="selected_date"
        singleDatePicker="true"
        name="selected_date"
        (change)="onDateSelect($event)"
        />
    </div>
    <div class="col-12">
        <table class="table table-sm table-striped" [ngClass]="{'table-loading': loading}">
            <tr>
                <th>Name</th>
                <th>
                    Is Present
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="all_present" [(ngModel)]="all_present" (change)="selectAll()">
                        <label class="form-check-label" for="all_present">All</label>
                    </div>
                </th>
            </tr>
            <tr *ngFor="let student of students">
                <td>
                    {{ 
                        student | switchLanguageProp: 'name' | async
                    }}
                </td>
                <td>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" [(ngModel)]="student.is_present" name="is_present">
                      </div>
                </td>
            </tr>
        </table>
    </div>
</div>