<app-store-banner [store]="store"></app-store-banner>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center p-3">
            <h3 class="mb-0">Our Categories</h3>
        </div>
    </div>
    <app-category-list [store]="store"></app-category-list>
    <app-store-promotion></app-store-promotion>
    <app-store-gallery [store]="store"></app-store-gallery>
    <app-store-promotion></app-store-promotion>
    <app-other-stores [store]="store"></app-other-stores>
    <app-store-promotion></app-store-promotion>
</div>