<div class="container-fluid">
    <div class="row pt-3" [ngClass]="{'loading': loading}">
        <div class="col-md-6" *ngIf="productImage">
            <div class="card">
                <div class="card-body p-2">
                        <ngx-image-zoom
                        [thumbImage]="productImage.url"
                        ></ngx-image-zoom>
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngIf="productImage">
            <div class="row flex-column">
                <div class="col-12">
                    <h3>{{ productDetails?.name }}</h3>
                    <p class="text-muted h4">৳{{ productDetails?.unit_price }}/{{ productDetails?.product_unit }}</p>            
                </div>
                <div class="col-12" *ngIf="productDetails">
                    <app-star-ratting [ratting]="productDetails?.avg_ratting" [rattingCount]="productDetails?.ratting_count"></app-star-ratting>
                </div>
                <div class="col-12">
                    <p>
                        {{ productDetails?.description }}
                    </p>
                </div>
                <div class="col-12 d-flex">
                    <div class="input-group">
                        <button class="btn btn-sm btn-info input-group-append" (click)="decrease()" [disabled]="!cartItem || cartItem.quantity === 1">
                            <i class="fa fa-2x fa-minus"></i>
                        </button>
                        <span class="btn btn-sm quantity btn-outline-dark">
                            {{ cartItem?.quantity || 0 }}
                        </span>
                        <button class="btn btn-sm btn-info input-group-append" (click)="increase()">
                            <i class="fa fa-2x fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>