<div class="row">
        <div class="col-12 pt-5">
            <table class="table table-sm table-striped" [ngClass]="{'table-loading': loading}">
                <tr>
                    <th colspan="2">
                        <h3 class="my-0">
                            Due List
                        </h3>
                    </th>
                    <th colspan="3">
                        <form class="input-group" #form="ngForm" (ngSubmit)="search(search_value.value)">
                            <input type="text" class="form-control" #search_value placeholder="Search by type">
                            <button class="btn btn-sm btn-primary input-group-prepend">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </th>
                </tr>
                <tr>
                    <th>Type</th>
                    <th>Payable to</th>
                    <th>Total Due</th>
                    <th>Total Paid</th>
                    <th>Remaining</th>
                </tr>
                <tr *ngFor="let item of list | paginate: { itemsPerPage: 10, totalItems: totalItems, currentPage: currentPage }">
                    <td>
                        {{ item?.earning_type }}
                    </td>
                    <td>
                        {{ item.earned_by_value || item.earned_by }}
                    </td>
                    <td>
                        {{item?.total_due || 0}}
                    </td>
                    <td>
                        {{item?.total_paid || 0}}
                    </td>
                    <td>
                        {{remaining(item)}}
                    </td>
                    
                </tr>
                
                <tr>
                    <th colspan="5" class="text-center">
                        <pagination-controls *ngIf="list && list.length" (pageChange)="loadPage($event)"></pagination-controls>
                    </th>
                </tr>
            </table>
        </div>
    </div>