<div class="row">
        <div class="col-12 pt-5">
            <table class="table table-sm table-striped" [ngClass]="{'table-loading': loading}">
                <tr>
                    <th colspan="5">
                        <h3 class="my-0">
                            Due List
                        </h3>
                    </th>
                </tr>
                <tr>
                    <th>Type</th>
                    <th>Payable to</th>
                    <th>Total Due</th>
                    <th>Total Paid</th>
                    <th>Remaining</th>
                </tr>
                <tr *ngFor="let item of list">
                    <td>
                        {{ item?.earning_type }}
                    </td>
                    <td>
                        {{ item.earned_by_value || item.earned_by }}
                    </td>
                    <td>
                        {{item?.total_due || 0}}
                    </td>
                    <td>
                        {{item?.total_paid || 0}}
                    </td>
                    <td>
                        {{remaining(item)}}
                    </td>
                    
                </tr>
                
                <tr>
                    <th colspan="5" class="text-center">
                        <button class="btn btn-sm btn-info" *ngIf="hasMore" (click)="loadNext()">Load More</button>
                    </th>
                </tr>
            </table>
        </div>
    </div>