<div class="row">
    <div class="col-12 pt-5">
        <table class="table table-sm table-striped" [ngClass]="{'table-loading': loading}">
            <tr>
                <th colspan="4">
                    <h3 class="my-0">
                        Union List <a [routerLink]="createPageLink()" class="btn btn-sm btn-info">Add New</a>
                    </h3>
                </th>
                <th colspan="2">
                    <div class="input-group">
                        <input type="text" class="form-control" (keyup)="search($event.target.value)">
                        <button class="btn btn-sm input-group-prepend">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Name</th>
                <th>নাম</th>
                <th>Upazila</th>
                <th>District</th>
                <th>Division</th>
                <th>#</th>
            </tr>
            <tr *ngFor="let item of items">
                <td>
                    <a [routerLink]="detailPageLink(item.id)">{{ item.name }}</a>
                </td>
                <td>
                    {{ item.name_bn }}
                </td>
                <td>
                    {{ item?.upazila?.name }}
                </td>
                <td>
                    {{ item?.district?.name }}
                </td>
                <td>
                    {{ item?.division?.name }}
                </td>
                <td>
                    <button class="btn btn-sm btn-danger" (click)="delete(item.id)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th colspan="6" class="text-center">
                    <button class="btn btn-sm btn-info" *ngIf="hasMore" (click)="loadNext()">Load More</button>
                </th>
            </tr>
        </table>
    </div>
</div>