
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.loading{
    min-height: 500px;
    pointer-events: none;
}

.not-found{
    margin-top: 50px;
    margin-bottom: 50px;
}
