<div class="row">
        <div class="col-12 pt-5">
            <table class="table table-sm table-striped" [ngClass]="{'table-loading': loading}">
                <tr>
                    <th colspan="4">
                        <h3 class="my-0">
                            Payment List
                            <button class="btn btn-sm btn-info m-1" (click)="loadPage(1)" [disabled]="loading">
                                <i class="fa fa-refresh" [ngClass]="{'fa-spin': loading}"></i>
                            </button>
                        </h3>
                    </th>
                </tr>
                <tr>
                    <th>Date</th>
                    <th>Paid By</th>
                    <th>Paid To</th>
                    <th>Amount</th>
                </tr>
                <tr *ngFor="let item of list | paginate: { itemsPerPage: 10, totalItems: totalItems, currentPage: currentPage }">
                    <td>
                        {{ item?.created_at | localDate }}
                    </td>
                    <td>
                        {{ item?.paid_by_value }}
                    </td>
                    <td>
                        {{ item?.paid_to_value }}
                    </td>
                    <td>
                        <a [routerLink]="detailPageLink(item.id)">
                            {{item?.amount}}
                        </a>
                    </td>
                </tr>
                
                <tr>
                    <th colspan="4" class="text-center">
                        <pagination-controls *ngIf="list && list.length" (pageChange)="loadPage($event)"></pagination-controls>
                    </th>
                </tr>
            </table>
        </div>
    </div>