
<app-admin-header></app-admin-header>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" *ngFor="let menu of menuItems">
          <li class="nav-item">
            <a class="nav-link active">
              <span data-feather="home"></span>
              {{ menu.title }} <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1" routerLink="/super-admin/{{menu.prefix}}-add">
              <i class="fa fa-plus"></i>
              
              Add New
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1" routerLink="/super-admin/{{menu.prefix}}-list">
              <i class="fa fa-list"></i>
              List
            </a>
          </li>
        </ul>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <span data-feather="home"></span>
              Settings <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1" routerLink="/super-admin/global-settings">
              <i class="fa fa-list"></i>
              Manage
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" id="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
