<div class="jumbtron jumbotron-fluid pt-5">
    <div class="row mx-0">
        <div class="col-md-3 col-sm-2 mb-2">
            <div class="card text-white bg-success">
                <div class="card-header h5">
                    Total Orders
                </div>
                <div class="card-body text-center">
                    <span class="h1 d-block p-3 text-white">
                        {{ stat?.order_count }}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-2 mb-2">
            <div class="card text-white bg-info">
                <div class="card-header h5">
                    Total Orders Today
                </div>
                <div class="card-body text-center">
                    <span class="h1 d-block p-3 text-white">
                        {{ stat?.order_count_today }}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-2 mb-2">
            <div class="card text-white bg-info">
                <div class="card-header h5">
                    Total Earning
                </div>
                <div class="card-body text-center">
                    <span class="h1 d-block p-3 text-white">
                        {{ stat?.earning_count }}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-2 mb-2">
            <div class="card text-white bg-info">
                <div class="card-header h5">
                    Total Earning Today
                </div>
                <div class="card-body text-center">
                    <span class="h1 d-block p-3 text-white">
                        {{ stat?.earning_count_today }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>