<div class="row">
    <div class="col-12 pt-5">
        <table class="table table-sm table-striped" [ngClass]="{'table-loading': loading}">
            <tr>
                <th colspan="3">
                    <h3 class="my-0">
                        Order List
                    </h3>
                </th>
                <th colspan="3">
                    <div class="input-group">
                        <input type="text" class="form-control" (keyup)="search($event.target.value)">
                        <button class="btn btn-sm input-group-prepend">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Order Id</th>
                <th>Date</th>
                <th>Seller</th>
                <th>Total Item</th>
                <th>Total Amount</th>
                <th>Status</th>
            </tr>
            <tr *ngFor="let item of list">
                <td>
                    <a [routerLink]="detailPageLink(item.id)">{{ item?.order_id }}</a>
                </td>
                <td>
                    {{ item.created_at | localDate }}
                </td>
                <td>
                    {{item?.seller?.name}}
                </td>
                <td>
                    {{ totalItem(item) }}
                </td>
                <td>
                    {{ total(item) }}
                </td>
                <td>
                    <span class="badge {{badgeClass(item.status)}}">
                        {{item.status}}
                    </span>
                </td>
            </tr>
            
            <tr>
                <th colspan="6" class="text-center">
                    <button class="btn btn-sm btn-info" *ngIf="hasMore" (click)="loadNext()">Load More</button>
                </th>
            </tr>
        </table>
    </div>
</div>