<div class="row">
    <div class="col-12 pt-5">
        <table class="table table-sm table-striped" [ngClass]="{'table-loading': loading}">
            <tr>
                <th colspan="3">
                    <h3 class="my-0">
                        Order List
                        <button class="btn btn-sm btn-info m-1" (click)="loadPage(1)" [disabled]="loading">
                            <i class="fa fa-refresh" [ngClass]="{'fa-spin': loading}"></i>
                        </button>
                    </h3>
                </th>
                <th colspan="3">
                    <form class="input-group" #form="ngForm" (ngSubmit)="search(search_value.value)">
                        <input type="text" class="form-control" placeholder="Search by Order Id, Status" #search_value>
                        <button class="btn btn-sm btn-primary input-group-prepend">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </th>
            </tr>
            <tr>
                <th>Order Id</th>
                <th>Date</th>
                <th>Seller</th>
                <th>Total Item</th>
                <th>Total Amount</th>
                <th>Status</th>
            </tr>
            <tr *ngFor="let item of list | paginate: { itemsPerPage: 10, totalItems: totalItems, currentPage: currentPage }">
                <td>
                    <a [routerLink]="detailPageLink(item.id)">{{ item?.order_id }}</a>
                </td>
                <td>
                    {{ item.created_at | localDate }}
                </td>
                <td>
                    {{item?.seller?.name}}
                </td>
                <td>
                    {{ totalItem(item) }}
                </td>
                <td>
                    {{ total(item) }}
                </td>
                <td>
                    <span class="badge {{badgeClass(item.status)}}">
                        {{item.status}}
                    </span>
                </td>
            </tr>
            
            <tr>
                <th colspan="6" class="text-center">
                    <pagination-controls *ngIf="list && list.length" (pageChange)="loadPage($event)"></pagination-controls>
                </th>
            </tr>
        </table>
    </div>
</div>